{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>La Taza Del Millón De Dólares</h1>
        <p>#nuevotrabajo #mac #MeConvertiAlMac #TomandoCafeDeStarbucks #EnUnaTazaDeStarbucks #LaTazaDelMillonDeDolares #Coding #NoMeExtrañesRobotica #Feliz #DinamizandoLaCarreraProfesional #NuevosHorizontes #AbusoDeHashtags xD #buenfinde</p>
    </div>
    <div class="col-4">
        <img src="assets/img/mac.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}