{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Starbucks</h1>
        <p>#LaTazaDelMillonDeDolares</p>
    </div>
    <div class="col-4">
        <img src="assets/img/taza.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}