{{> head}}
{{> navbar}}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar 'pAbLo LiBeRoNa' }}!</h1>
        <p class="lead">Sitio Web en construcción</p>
        <hr class="my-4">
        <p>Aquí les contaré la historia de la taza del millón de dólares. Solo presione #About</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{{> footer}}